/*Custom class CSS*/
.page {
  margin-top: 24px;
  padding-bottom: 40px;
}
.git-profile-pic {
  img {
    border-radius: 6px;
  }
}
.git-name-container {
  padding: 16px 0;
  span {
    display: block;
  }
  .username {
    color: #666;
  }
}
.search-box {
  background-color: rgba(255,255,255,0.125);
  color: #fff;
  width: 300px;
  margin-top: 3px;
  border: none;
  height: 30px;
}
.menu-profilepic {
  border-radius: 3px;
}
.footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 48px;
  display: flex;
  justify-content: space-between;
  .footer-logo a {
    color: #c6cbd1;
    &:hover {
      color: #959da5;
    }
  }
}
.footer-menu {
  .nav-item {
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
  .nav-link {
    color: #0366d6;
    text-decoration: none;
    font-size: 12px;
    padding: 0;
    &.disabled {
      color: #586069!important;
      &:hover {
        color: #586069!important;
        text-decoration: none;
      }
    }
    &:hover {
      color: #0366d6;
      text-decoration: underline;
    }
  }
}

.repositories-list {
  .repository {
    padding: 24px 0;
    border-bottom: 1px #e1e4e8 solid!important;
    .name {
      color: #0366d6;
      &:hover {
        text-decoration: underline;
      }
    }
    .description {
      max-height: 65px;
      overflow: hidden;
    }
    .lang-color {
      width: 12px;
      height: 12px;
      border-radius: 12px;
      display: inline-block;
      margin-right: 3px;
      position: relative;
      top: 1px;
    }
  }
}

.repo-page-head {
  background-color: #fafbfc;
  padding-top: 20px;
  margin-bottom: 20px;
}

/*Overwriting the Bootstrap CSS*/
.container {
  width: 1010px;
}
.navbar.bg-dark {
  background-color: #24292e !important;
  padding: 8px 0;
  form {

  }
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.nav-tabs {
  border-bottom: solid 1px #d1d5da;
  .nav-link {
    border: 0;
    border-bottom: 2px solid transparent;
    padding: 16px 8px;
    margin-right: 16px;
    font-size: 14px;
    line-height: 1.5;
    color: #586069;
    &.active {
      font-weight: 600;
      color: #24292e;
      border-bottom-color: #e36209;
    }
  }
}