/*Custom class CSS*/
.page {
  margin-top: 24px;
  padding-bottom: 40px;
}
.git-profile-pic {
  img {
    border-radius: 6px;
  }
}
.git-name-container {
  padding: 16px 0;
  span {
    display: block;
  }
  .username {
    color: #666;
  }
}
.search-box {
  background-color: rgba(255,255,255,0.125);
  color: #fff;
  width: 300px;
  margin-top: 3px;
  border: none;
  height: 30px;
}
.menu-profilepic {
  border-radius: 3px;
}
.footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 48px;
  display: flex;
  justify-content: space-between;
  .footer-logo a {
    color: #c6cbd1;
    &:hover {
      color: #959da5;
    }
  }
}
.footer-menu {
  .nav-item {
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
  .nav-link {
    color: #0366d6;
    text-decoration: none;
    font-size: 12px;
    padding: 0;
    &.disabled {
      color: #586069!important;
      &:hover {
        color: #586069!important;
        text-decoration: none;
      }
    }
    &:hover {
      color: #0366d6;
      text-decoration: underline;
    }
  }
}

.repositories-list {
  .repository {
    padding: 24px 0;
    border-bottom: 1px #e1e4e8 solid!important;
    .name {
      color: #0366d6;
      &:hover {
        text-decoration: underline;
      }
    }
    .description {
      max-height: 65px;
      overflow: hidden;
    }
    .lang-color {
      width: 12px;
      height: 12px;
      border-radius: 12px;
      display: inline-block;
      margin-right: 3px;
      position: relative;
      top: 1px;
    }
  }
}

.repo-page-head {
  background-color: #fafbfc;
  padding-top: 20px;
  margin-bottom: 20px;
}
.repo-page {
  .page-header {
    padding-top: 20px;
    margin-bottom: 20px;
    background-color: #fafbfc;
    border-bottom: 1px solid #e1e4e8;
    .head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    .title {
      font-size: 18px;
      span {
        color: #0366d6;
      }
    }
    .actions {
      display: flex;

    }
    .action {
      display: flex;
      border: 1px solid #d1d5da;
      margin-right: 10px;
      border-radius: 2.5px;
      .name {
        border-right: 1px solid #d1d5da;

        padding: 3px 10px;
        font-size: 12px;
        font-weight: 600;
        background-color: #eff3f6;
        background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
        color: #24292e;
        line-height: 20px;
      }
      .detail {
        padding: 3px 10px;
        font-size: 11px;
        font-weight: 600;
        line-height: 20px;
      }
    }

  }
  .nav-tabs {
    border-bottom: 0;
    .nav-link {
      padding: 7px 15px 8px;
      border: 1px solid transparent;
      border-top: 3px solid transparent;
      border-radius: 3px 3px 0 0;
      color: #586069;
      &.active {
        border-color: #e36209 #e1e4e8 transparent;
        color: #24292e;
        font-weight: 400;
      }
      .octicon {
        color: rgba(27,31,35,.3);
      }
    }
  }
  .list-box {
    .list-header {
      background-color: #f6f8fa;
      border: 1px solid #e1e4e8;
      border-radius: 3px 3px 0 0;
      padding-left: 16px;
      .head-item {
        padding: 13px 0 13px;
        display: inline-block;
        margin-left: 10px;
        &:first-child {
          margin-left: 0px;
        }
      }
    }
    .list-item {
      border-bottom: 1px solid #e1e4e8;
      border-left: 1px solid #e1e4e8;
      border-right: 1px solid #e1e4e8;
      padding: 0 13px;
      display: flex;
      .status{
          padding-top: 8px;
          .state-open {
            color: #28a745;
          }
          .state-close {
            color: #cb2431;
          }
      }
      .content {
        padding: 8px;
      }
      .main {
        font-size: 16px;
        font-weight: 600;
        color: #24292e;
      }
      .sub {
        font-size: 12px;
        color: #586069;
      }

    }
  }
}
